.course-container {
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;


  @media (min-width: 576px) {
    padding: 50px;
  }

  .buttons {
    text-align: center;
    position: relative;
    bottom: 34px;

    @media (min-width: 576px) {
      bottom: 74px;
    }

    button {
      background-color: white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
      border-radius: 0px;
      border: solid #d8e4eb;
      border-width: 1px 0px 1px 0px;
      color: var(--dark-blue-grey);

      @media (min-width: 576px) {
        width: 140px;
        height: 48px;
      }

      &:first-of-type {
        border-radius: 4px 0px 0px 4px;
        border: solid #d8e4eb;
        border-width: 1px 0px 1px 1px;
      }

      &:last-of-type {
        border-radius: 0px 4px 4px 0px;
        border: solid #d8e4eb;
        border-width: 1px 1px 1px 0px;
      }

      &.active {
        background-color: #076fec;
        border: none;
        color: white;
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: var(--dark-blue-grey);
    margin-bottom: 20px;

    select {
      width: 238px;
      height: 40px;
      border-radius: 4px;
      border: solid 1px #d8e4eb;
      background-color: #ffffff;
      font-size: 12px;
      letter-spacing: 0.5px;
      color: var(--dark-blue-grey);
    }
  }

  .course-cards {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 30px;

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}