nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  ul {
    padding: 0px;
    margin: 10px 0px;
    text-transform: uppercase;
    list-style: none;
    display: flex;

    li {
      &:first-of-type {
        margin-left: 0px;
        margin-top: 5px;
      }

      a {
        color: #ffffff;
        text-decoration: none;
      }

      padding: 10px 0px;
      margin: 10px;
      font-size: 15px;
      font-weight: 600;
      line-height: 1.33;
      letter-spacing: 2px;
      text-align: center;
      cursor: pointer;

      .selected {
        & + div {
          border: solid 3px #ffffff;
          border-width: 0px 0px 3px 0px;
          width: 30px;
          padding: 5px;
        }
      }
    }

  }

  div {
    display: flex;

    button {
      background-color: rgba(255, 255, 255, 0.27);
      margin: 10px 10px;
      color: #ffffff;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 2px;
      opacity: 0.8;
      padding: 0px 20px;

      &.leaderboard {
        padding: 0px;
        opacity: 1;
      }
    }
  }
}
